<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/annomymys2.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>DevLog | FRI3NDS</title>

    <style>
        body {
            background-color: #1a1a1a; /* Dark background */
            color: #e0e0e0; /* Light text color */
            margin: 0;
            padding-top: 0px; /* Adjust based on header height */
            font-family: monospace;
        }
        .header-1, .header-2 {
            position: fixed;
            width: 100%;
            z-index: 1000; /* Ensure it stays above other content */
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }
        .header-1 {
            background-color: #1a1a1a; /* Dark background */
            border-bottom: 1px solid #1a1a1a; /* Purple border-bottom */
            opacity: 1;
        }
        .header-2 {
            background-color: white; /* Light, colorful background */
            opacity: 0;
            transform: translateY(-100%);
        }
        .header-2.active {
            opacity: 1;
            transform: translateY(0);
        }
        .border-wave {
            position: relative;
            overflow: hidden;
        }
        .border-wave::before {
            content: '';
            position: absolute;
            bottom: -10px; /* Adjust the position of the wave */
            left: 0;
            width: 100%;
            height: 20px; /* Height of the wave */
            background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIHZpZXdCb3g9IjAgMCAxMCAxMCI+PHBhdGggZD0iTTEwLDEuNSA1LDEwTDEwLDIuNSIgZmlsbD0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1vcGFjaXR5PSIwLjIiLz48L3N2Zz4=') no-repeat center;
            background-size: cover;
            animation: wave 2s infinite linear;
        }
        @keyframes wave {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%);
            }
        }
        .card {
            background-color: #333; /* Dark card background */
            color: #fff; /* White text color */
            border-radius: 8px;
            padding: 20px;
            margin: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s, box-shadow 0.3s;
            opacity: 0;
            transform: translateY(50px);
        }
        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        }
        .card-content {
            padding: 10px;
        }
        .fade-in {
            opacity: 0;
            transform: translateY(50px);
            transition: opacity 0.6s ease, transform 0.6s ease;
        }
        .fade-in.visible {
            opacity: 1;
            transform: translateY(0);
        }
    </style>
    <style>
        /* Gradient Text Animation */
        @keyframes colorWave {
            0% {
                color: dodgerblue;
            }
            50% {
                color: #f06;
            }
            100% {
                color: dodgerblue;
            }
        }

        /* Gradient Text Animation for Python Comment Syntax Highlight */
        @keyframes colorWave_forCode_Comment {
            0% {
                color: #6a9955; /* Typical green for Python comments */
            }
            50% {
                color: #567d46; /* A slightly darker shade of green */
            }
            100% {
                color: #6a9955; /* Back to the typical green */
            }
        }

        .grad {
            font-size: 2em; /* Adjust the font size as needed */
            font-weight: bold; /* Make text bold for better visibility */
            animation: colorWave 6s infinite; /* 5 seconds duration, infinite loop */
        }

        .grad-ns {
            /* font-size: 2em;  Adjust the font size as needed */
            font-weight: bold; /* Make text bold for better visibility */
            animation: colorWave 6s infinite; /* 5 seconds duration, infinite loop */
        }
    </style>
    <style>
        .color-wave-background {
            position: relative;
            width: 100%;
            height: 400px; /* Adjust height as needed */
            background: linear-gradient(45deg, #ff6f61, #d4a5a5, #7f8c8d, #ff6f61);
            background-size: 400% 400%;
            animation: colorWave2 10s ease infinite;
            overflow: hidden;
        }

        /* Create the wave effect using keyframes */
        @keyframes colorWave2 {
            0% {
                background-position: 0% 0%;
            }
            50% {
                background-position: 100% 100%;
            }
            100% {
                background-position: 0% 0%;
            }
        }
    </style>    
    <style>
        body {
            margin: 20px;
            font-family: monospace;
        }
        h1, h2, p {
            margin-bottom: 20px;
        }
        .lnk-top-nav-bar-hvr {
            font-size:15px;
            color:white;
            font-family: monospace;
            transition-duration: 0.3s;
        }
        .lnk-top-nav-bar-hvr:hover {
            font-size:16px;
            color:white;
            font-family: monospace;
            border-bottom:1px solid white;
            transition-duration: 0.3s;
        }
    </style>
            <!-- Press Start 2P -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">

            <style>
                .main-hero-thing {
                    display: flex;
                }
    
                .main-hero-thing .part-ff-l {
                    width:40%;
                    padding:10px;
                    margin:0px;
                    border-radius: 0px;
                    border:1px solid #212529;
                    background-color: white;
                }
    
                    .hero-heading1{
                        color:#212529;
                        font-size: 45px;
                        font-family: 'Press Start 2P', cursive;
                    }
    
                    .hero-heading1-fc{
                        color:#212529;
                        font-size: 45px;
                        font-family: monospace;
                    }
    
                    .hero-heading2-fc{
                        color:#212529;
                        font-size: 30px;
                        font-family: monospace;
                    }
    
                    .sub-heading1{
                        color:#212529;
                        font-size: 20px;
                        font-family: monospace;
                    }
    
                    .sub-heading2{
                        color:#212529;
                        font-size: 15px;
                        font-family: monospace;
                    }
                
                .main-hero-thing .part-ff-r {
                    width:60%;
                    padding:0px;
                    margin:0px;
                    border-radius: 0px;
                    border:1px solid #212529;
                    background-color: white;
                }
    
                .main-hero-thing .part-ff-r img {
                    width: 182px;
                    height: 182px;
                }
    
                .b-r {
                    position: absolute;
                    bottom: 0px;
                    right: 10px;
                    margin: 0;
                }
    
                .ff-card-holder {
                    display: flex;
                }
    
                .ff-card-holder .ff-card {
                    border-radius: 3px;
                    border:1px solid dodgerblue;
                    border-top:10px solid dodgerblue;
                    padding:10px;
                    margin:5px;
                }
    
                .ff-card-holder .ff-card .text-s1{
                    color:#212529;
                    font-size:17px;
                    font-family: monospace;
                }
    
                .ff-card-holder-red {
                    display: flex;
                }
    
                .ff-card-holder-red .ff-card {
                    border-radius: 3px;
                    border:1px solid #f06;
                    border-top:10px solid #f06;
                    padding:10px;
                    margin:5px;
                }
            
                .ff-card-holder-red .ff-card .text-s1{
                    color:#212529;
                    font-size:17px;
                    font-family: monospace;
                }
    
                .codeanic-code {
                    background-color: #212529;
                    border-radius: 5px;
                    border-top:10px solid #555e68;
                    padding:5px;
                    color:white;
                }
    
    
                .codeanic-code span{
                    color:white;
                }
    
                .codeanic-code ccc {
                    /* font-size: 2em;  Adjust the font size as needed */
                    font-weight: bold; /* Make text bold for better visibility */
                    animation: colorWave 6s infinite; /* 5 seconds duration, infinite loop */
                }
    
                .codeanic-code com {
                    /* font-size: 2em;  Adjust the font size as needed */
                    font-weight: bold; /* Make text bold for better visibility */
                    animation: colorWave_forCode_Comment 6s infinite; /* 5 seconds duration, infinite loop */
                }
    
                .codeanic-code ic {
                    padding-left:10px;
                }
    
            </style>
</head>
<body>
    <header class="header-1 text-gray-600 body-font bg-purple-500 border-wave" style="top:0;background-color: #1a1a1a;">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center justify-between">
            <a class="flex title-font font-medium items-center text-gray-100 mb-4 md:mb-0">
                <img src="../assets/annomymys2.ico" alt="Annomymys Logo" class="w-10 h-10 rounded-full">
                <span class="ml-3 text-l text-gray-100" style="font-family: monospace;font-size:15px;margin:10px;">/</span>
                <span class="ml-3 text-l text-gray-100 grad" style="font-family: monospace;">DevLog</span>
            </a>
            <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 text-gray-100" style="font-family: monospace;">⭐ DevLog: Yuri’s milestones and some dev updates.</a>
            </nav>
            <nav class="flex flex-wrap items-center text-base justify-center space-x-5" id="second-nav">
                <a class="mr-5 text-gray-100 lnk-top-nav-bar-hvr" href="DevSpace.html">DevSpace</a>
                <div class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400" style="height: 25px;"></div>
                <a class="mr-5 text-gray-100 lnk-top-nav-bar-hvr" href="https://github.com/Yuri-Is-On-Rage-Mode/Yuri-Is-On-Rage-Mode.github.io">View On Github</a>
                <a class="mr-5 text-gray-100 lnk-top-nav-bar-hvr" href="https://github.com/Yuri-Is-On-Rage-Mode">Github/Yuri</a>
            </nav>
        </div>
    </header>   
    


    <footer class="bg-spec-tt rounded-lg shadow dark:bg-gray-900 m-4" style="background: white">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <span class="">
                    <span class="display-5 grad press-start hero-heading1" style="font-size: 18px;">Made with ❤️ by <a href="https://github.com/Yuri-Is-On-Rage-Mode" target="_blank" style="color: #1e90ff; text-decoration: none; font-weight: bold;"><u>Yuri</u></a> </span>
                </span>
                <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                    <li>
                        <a href="../index.html" class="hover:underline me-4 md:me-6 press-start">🦸‍♂️ /Yuri/</a>
                    </li>
                    <li>
                        <a href="PublicHomeDest/WebEss/About.html" class="hover:underline me-4 md:me-6 press-start">📖 /About/</a>
                    </li>
                    <li>
                        <a href="PublicHomeDest/WebEss/Policies.html" class="hover:underline me-4 md:me-6 press-start">📜 /Policy/</a>
                    </li>
                    <li>
                        <a href="https://github.com/Yuri-Is-On-Rage-Mode" class="hover:underline me-4 md:me-6 press-start">🐙 /Github/</a>
                    </li>
                    <li>
                        <a href="Blogs/index.html" class="hover:underline me-4 md:me-6 press-start">📝 /Articles/</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2008-2088 <a class="hover:underline" href="https://github.com/Fri3nds-Group-Union">Fri3nds™</a>. All Rights Reserved.</span>
        <br>
    </footer>
</body>
</html>