body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
}

.most-viewed {
    background-color: #f0f8ff;
}

.most-pinned-starred {
    background-color: #ffebcd;
}

#latest-posts-container, #most-viewed-posts-container, #most-pinned-starred-posts-container, #all-posts-container {
    padding: 16px;
}
